.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: auto;
}

button {
  margin: 10px;
  padding: 15px;
  border: solid 2px turquoise;
  border-radius: 15px;
  background-color: paleturquoise;
}

button:hover {
  border: solid 2px peachpuff;
  border-radius: 15px;
  background-color: cornsilk;
  transition: all 0.1s ease-in;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(10, 46px);
  grid-template-rows: repeat(10, 46px);
  justify-content: center;
}

.cell-container {
  height: 45px;
  width: 45px;
  background-color: paleturquoise;
}

.cell-container:hover {
  transition: all 0.1s ease-in;
  background-color: palegoldenrod;
}

.hidden {
  background-color: turquoise;
}

span {
  line-height: 45px;
}